.most-recent {
  font-family: Lato;
  font-size: 32px;
  font-weight: 900;
  line-height: 39px;
  text-align: left;
}

.Title {
  padding-top: 64px;
  padding-bottom:  30px;
}

.card-image {
  height: 160px;
}

.card-title {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

.card-details {
  color: #7F7F7F;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: left;
}

.card-location {
  color: #7F7F7F;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.card-price {
  text-decoration:line-through;
  color: #CACACA;
  font-family: Lato;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}

.card-discount{
  	color: #2BD6BA;
    font-family: Lato;
    font-size: 24px;
    line-height: 29px;
    padding-left: 20px;
}

.card-cost{
  padding-left: 50%;
}

.paginacion {
  padding-top:40px;
}
.card {
  margin-bottom: 20px;
}
