.most-recent {
  padding: 30px;
  display: inline-block;
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;

}

.sel{

}

.card{

}

.imgCard{

}

.cardB{

}

.titleCard{

}

.acountCard{

}

.Details{

}

.loc{

}

.priceCupon{

}

.descCupon{

}

.cuponTotal{
  
}
