.text{
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding-top: 30px;

}

.divfoo{
  height: 10vh;
  width: cover;
  background-color: #EEEEEE;
  margin-top: 3%;

}

a:hover{
  text-decoration:none;
}
