.text{
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding-top: 30px;

}

.divfoo{
  height: 80px;
  width: cover;
  background-color: #EEEEEE;

}
