.title2{
  height: 44px;
  color: #pink;
  font-family: Lato;
  font-size: 36px;
  font-weight: 900;
  line-height: 44px;
  text-align: left;
}

.bodyCard2{
  	height: 242px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.card2{
  height: 242px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.imgCard2{
  height: 160px;
  border-radius: 4px 4px 0 0;
}

.nameCard2{
  height: 19px;
  color: #000000;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}

.sudCard2{
  height: 17px;
  color: #2BD6BA;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

.contain {
      margin-bottom: 10vh;
}
