.imgCu{
  width: 400px;
  height:200px;
}

.mapa{
height: 297px;
width: 572px;
}

.titleC{
  height: 29px;
  width: 386px;
  color: #000000;
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.titleCo{
  height: 22px;
  width: 290px;
  color: #000000;
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
}

.imgCu{
  height: 261px;
  width: 571px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.25);
}

.cDesc{
  height: 29px;
  color: #2BD6BA;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}

.cPrice{
  height: 29px;
  color: #CACACA;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}

.cDisp{
  height: 22px;
  color: #7F7F7F;
  font-family: Lato;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 50px;
}

.btnn{
  	height: 40px;
    width: 400px;
    border-radius: 4px;
    background-color: #2BD6BA !important;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;
    text-align: center;
}

.parraf{
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  margin-top: 25px;
}

.det{
  color: #000000;
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  margin-top: 40px;
  margin-left: 30px;
}

.detC{
  height: 200px;
  width: 571px;
  color: #7F7F7F;
  font-family: Lato;
  font-size: 16px;
  line-height: 25px;
  margin-top: 90px;
  text-align: left;
}

.loc{
  color: #000000;
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  margin-top: 40px;
  margin-left: 30px;
  width: 100%;
  text-align: left;
}
